<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Clínico | ChroniCare</title>
    <link rel="icon" href="./../images/logoicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./../css/dg.css">
<link rel="stylesheet" href="./../css/barra.css">
</head>

<body>
<aside id="barra">
        <ul>
            <li>
                <img src="./../images/menu.png" />
            </li>
            <li>
                <a class="item" href="./dashboard.html"><img src="./../images/icons/casa.png" />
                    <div>
                        <p>Inicio</p>
                    </div>
                </a>

            </li>
            <li>
                <a class="item" href="./perfil.html"><img src="./../images/icons/perfil.png" />
                    <div>
                        <p>Perfil</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="item" href="./autoevaluacion.html"><img src="./../images/icons/autoevaluacion.png" />
                    <div>
                        <p>Autoevaluación</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="item" href="./dieta.html"><img src="./../images/icons/dieta.png" />
                    <div>
                        <p>Crear dieta</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./graphics.html" class="item"><img src="./../images/icons/cardio.png" />
                    <div>
                        <p>Signos vitales</p>
                    </div>
                </a>
            </li>
            <li>
              <a class="item" href="./medicines.html"><img src="./../images/icons/medicamento.png" />
                <div>
                  <p>Medicamentos</p>
                </div>
              </a>
            </li>
            <li>
                <a href="./monitoreo.html" class="item"><img src="./../images/icons/chequeo.png" />
                    <div>
                        <p>Monitoreo</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./contenido.html" class="item"><img src="./../images/icons/educativo.png" />
                    <div>
                        <p>Contenido educativo</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="./rutinas.html" class="item"><img src="./../images/icons/rutinas.png" />
                    <div>
                        <p>Rutinas saludables</p>
                    </div>
                </a>

            </li>
            <li>
                <a href="./comunidad.html" class="item"><img src="./../images/icons/alimenticio.png" />
                    <div>
                        <p>Comunidad</p>
                    </div>
                </a>

            </li>
            <li>
                <a class="item" href="./citas.html"><img src="./../images/icons/cita.png" />
                    <div>
                        <p>Citas</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="item" href="./historial.html"><img src="./../images/icons/agenda.png" />
                    <div>
                        <p>Historial Clínico</p>
                    </div>
                </a>

            </li>
            <li>
                <a class="item" href="./premium.html"><img src="./../images/icons/config.png" />
                    <div>
                        <p>Suscripción</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="item" href="./moderacion.html"><img src="./../images/icons/moderador.png" />
                    <div>
                        <p>Moderador</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="item" href="./sesión.html">
                    <img src="./../images/icons/salida.png" />
                    <div>
                        <p>Cerrar Sesión</p>
                    </div>
                </a>
            </li>

        </ul>
    </aside>
    <main class="main-content">
        <h1 style="margin-bottom: 1rem;">Historial de registros</h1>
        <p style="margin-bottom: 1rem;">Aquí puedes ver y gestionar tus registros de salud</p>
        <div style="border: 1px solid #dae0df;"></div>
        <h3 class="section-title">Registros Recientes</h3>
        <div class="record-card" data-blocked="true">
              <div class="record-info">
                <div class="record-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"></path>
                  </svg>
                </div>
                <div class="record-text">
                  <p class="record-title">Presión Arterial</p>
                  <p class="record-date">22 de Mayo, 2025</p>
                </div>
              </div>
              <div class="record-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                </svg>
              </div>
            </div>
            <div class="record-card">
              <div class="record-info">
                <div class="record-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M174,47.75a254.19,254.19,0,0,0-41.45-38.3,8,8,0,0,0-9.18,0A254.19,254.19,0,0,0,82,47.75C54.51,79.32,40,112.6,40,144a88,88,0,0,0,176,0C216,112.6,201.49,79.32,174,47.75ZM128,216a72.08,72.08,0,0,1-72-72c0-57.23,55.47-105,72-118,16.53,13,72,60.75,72,118A72.08,72.08,0,0,1,128,216Zm55.89-62.66a57.6,57.6,0,0,1-46.56,46.55A8.75,8.75,0,0,1,136,200a8,8,0,0,1-1.32-15.89c16.57-2.79,30.63-16.85,33.44-33.45a8,8,0,0,1,15.78,2.68Z"></path>
                  </svg>
                </div>
                <div class="record-text">
                  <p class="record-title">Niveles de Glucosa</p>
                  <p class="record-date">20 de Mayo, 2025</p>
                </div>
              </div>
              <div class="record-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                </svg>
              </div>
            </div>
            <div class="record-card">
              <div class="record-info">
                <div class="record-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M239.43,133l-32-80h0a8,8,0,0,0-9.16-4.84L136,62V40a8,8,0,0,0-16,0V65.58L54.26,80.19A8,8,0,0,0,48.57,85h0v.06L16.57,165a7.92,7.92,0,0,0-.57,3c0,23.31,24.54,32,40,32s40-8.69,40-32a7.92,7.92,0,0,0-.57-3L66.92,93.77,120,82V208H104a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16H136V78.42L187,67.1,160.57,133a7.92,7.92,0,0,0-.57,3c0,23.31,24.54,32,40,32s40-8.69,40-32A7.92,7.92,0,0,0,239.43,133ZM56,184c-7.53,0-22.76-3.61-23.93-14.64L56,109.54l23.93,59.82C78.76,180.39,63.53,184,56,184Zm144-32c-7.53,0-22.76-3.61-23.93-14.64L200,77.54l23.93,59.82C222.76,148.39,207.53,152,200,152Z"
                    ></path>
                  </svg>
                </div>
                <div class="record-text">
                  <p class="record-title">Peso Corporal</p>
                  <p class="record-date">18 de Mayo, 2025</p>
                </div>
              </div>
              <div class="record-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                </svg>
              </div>
            </div>
            <h3 class="section-title">Registros Anteriores</h3>
            <div class="record-card">
              <div class="record-info">
                <div class="record-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"
                    ></path>
                  </svg>
                </div>
                <div class="record-text">
                  <p class="record-title">Presión Arterial</p>
                  <p class="record-date">15 de Mayo, 2025</p>
                </div>
              </div>
              <div class="record-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                </svg>
              </div>
            </div>
            <div class="record-card">
              <div class="record-info">
                <div class="record-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M174,47.75a254.19,254.19,0,0,0-41.45-38.3,8,8,0,0,0-9.18,0A254.19,254.19,0,0,0,82,47.75C54.51,79.32,40,112.6,40,144a88,88,0,0,0,176,0C216,112.6,201.49,79.32,174,47.75ZM128,216a72.08,72.08,0,0,1-72-72c0-57.23,55.47-105,72-118,16.53,13,72,60.75,72,118A72.08,72.08,0,0,1,128,216Zm55.89-62.66a57.6,57.6,0,0,1-46.56,46.55A8.75,8.75,0,0,1,136,200a8,8,0,0,1-1.32-15.89c16.57-2.79,30.63-16.85,33.44-33.45a8,8,0,0,1,15.78,2.68Z"
                    ></path>
                  </svg>
                </div>
                <div class="record-text">
                  <p class="record-title">Niveles de Glucosa</p>
                  <p class="record-date">12 de Mayo, 2025</p>
                </div>
              </div>
              <div class="record-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                </svg>
              </div>
            </div>
            <div class="record-card">
              <div class="record-info">
                <div class="record-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M239.43,133l-32-80h0a8,8,0,0,0-9.16-4.84L136,62V40a8,8,0,0,0-16,0V65.58L54.26,80.19A8,8,0,0,0,48.57,85h0v.06L16.57,165a7.92,7.92,0,0,0-.57,3c0,23.31,24.54,32,40,32s40-8.69,40-32a7.92,7.92,0,0,0-.57-3L66.92,93.77,120,82V208H104a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16H136V78.42L187,67.1,160.57,133a7.92,7.92,0,0,0-.57,3c0,23.31,24.54,32,40,32s40-8.69,40-32A7.92,7.92,0,0,0,239.43,133ZM56,184c-7.53,0-22.76-3.61-23.93-14.64L56,109.54l23.93,59.82C78.76,180.39,63.53,184,56,184Zm144-32c-7.53,0-22.76-3.61-23.93-14.64L200,77.54l23.93,59.82C222.76,148.39,207.53,152,200,152Z"
                    ></path>
                  </svg>
                </div>
                <div class="record-text">
                  <p class="record-title">Peso Corporal</p>
                  <p class="record-date">10 de Mayo, 2025</p>
                </div>
              </div>
              <div class="record-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                </svg>
              </div>
            </div>
    </main>
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close-modal" id="closeEditModal">&times;</span>
            <h2 style="margin-bottom: 1rem;">Editar Registro</h2>
            <form id="editForm">
                <label>
                    Nombre del Registro:
                    <input type="text" id="recordTitleInput" required>
                </label>
                <label>
                    Fecha:
                    <input type="date" id="recordDateInput" required>
                </label>
                <div class="modal-actions">
                    <button class="submit-btn" type="submit">Guardar Cambios</button>
                    <button class="delete-btn" onclick="deleteSelectedRecord()">Borrar</button>
                </div>
            </form>
        </div>
    </div>
    <section style="max-width: 1400px; margin: auto;" class="feature-section">
        <h2>Historial clínico imprimible</h2>
        <p>Accede a reportes en PDF con el logo de ChroniCare y recomendaciones personalizadas.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <button onClick="generarPDF()">Generar PDF</button>
    </section>
    <script src="./../javascript/barra.js"></script>
<script src="./../javascript/dg.js"></script>
</body>

</html>