* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    .search-bar {
      display: flex;
      align-items: center;
      background-color: #e7eef3;
      border-radius: 8px;
      padding: 4px 8px;
      gap: 8px;
      margin-bottom: 16px;
    }

    .search-bar input {
      border: none;
      background: transparent;
      outline: none;
      padding: 6px;
      font-size: 16px;
      color: #0e161b;
      flex: 1;
    }

    .main-content {
      padding: 0rem 20rem;
      padding-top: 3rem;
    }

    h2 {
      font-size: 22px;
      font-weight: bold;
      margin: 20px 0 10px;
    }
    .article-container {
      padding: 16px;
    }

    .article {
      display: flex;
      gap: 16px;
      border-radius: 8px;
      margin-bottom: 24px;
      background-color: white;
      align-items: stretch;
    }

    .article-text {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .article-text p.title {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    .article-text p.description {
      font-size: 14px;
      color: #4e7a97;
      margin: 0;
    }

    .article-image {
      flex: 1;
      aspect-ratio: 16/9;
      background-size: cover;
      background-position: center;
      border-radius: 8px;
    }

  #noResultsMessage {
    margin-top: 8px;
    font-size: 14px;
    color: #4e7a97;
    display: none;
  }

  #noResultsMessage.visible {
    display: block;
  }

  #noResultsMessage.hidden {
    display: none;
  }

#contenido-validado {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-left: 6px solid #3cb371;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

#contenido-validado h1 {
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  color: #10609a;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

input,
textarea,
select {
  padding: 0.7rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 1.5rem;
  background-color: #3cb371;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #2e9e60;
}

#mensaje {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.ok {
  background-color: #90ee90;
  color: #104910;
  border: 1px solid #104910;
}

.error {
  background-color: #ffdab9;
  color: #a80000;
  border: 1px solid #a80000;
}

.hidden {
  display: none;
}



.open-menu,
.close-menu {
  display: none;
}


@media (max-width: 768px) {
  .menu-horizontal {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #6c27b0;
    height: 100%;
    overflow-y: auto;
    pointer-events: none;
    transform: translateY(-100%);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 999;
  }

  .menu-horizontal.menu_opened {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  .menu-horizontal li {
    padding: 0;
  }
  .menu-horizontal a{
    color:black;
    line-height: 70px;
    font-size: 25px;
    padding: 10px 0;
  }

.menu-horizontal a:hover,
.menu-horizontal a.selected {
  color:blue;
  text-decoration: underline; 

 }  

 .menu-horizontal a:focus{

  outline: 2px dashed  blue;
  outline-offset: 4px;
 }
 .menu-horizontal a::after{
  content: none;
 }

.open-menu{
  background-color: #6c27b0;
}

 .open-menu,
.close-menu {
  display: block;
  border: none;
  background: none;
  cursor:pointer;
  z-index: 1000;
  margin-right: 30px;

}
.close-menu{

  align-self: flex-end;
  padding: 20px 15px;

}
.open-menu:focus:not(:focus-visible),.close-menu:focus:not(:focus-visible){ 
  outline: none;
}
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container h3 {
    text-align: center;
  }

  .footer-column {
    width: 90%;
    margin-bottom: 20px;
  }

  .footer-column ul li {
    text-align: center;
  }
}